name: Trigger Netlify Build

on:
  push:
    branches:
      - main # or your production branch name

jobs:
  build:
    name: Request Netlify Webhook
    runs-on: ubuntu-latest
    steps:
      - name: Curl request
        run: curl -X POST -d {} https://api.netlify.com/build_hooks/694c8621622bb93f150b2498
